PORT=4000
NODE_ENV=development
DATABASE_URL="postgresql://postgres:password@db.xxxx.supabase.co:5432/postgres"
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=your_upstash_redis_password
WORKER_CONCURRENCY=5
DEFAULT_MIN_DELAY_MS=2000
DEFAULT_HOURLY_LIMIT=200
ETHEREAL_USER=your_ethereal_user_optional
ETHEREAL_PASS=your_ethereal_pass_optional
GOOGLE_CLIENT_ID=your_google_client_id_optional
JWT_SECRET=reachinbox_super_secret_key_2026
